/* h1{
    color: aqua;
    background-color: blue;
}

p{
    color: blueviolet;
    background-color: brown;
}

button{
    color: coral;
    background-color: cyan;
} */

/* h2{
    color: rgb(255, 255, 255);
}

button{
    color: rgb(228, 228, 38);
    background-color: #ffff33;
}

p{
    color: #00ffff;
    background-color: rgb(0, 255, 255);
} */

/* h1{
    text-align: center;
    font-weight: 900;
    letter-spacing: 5px;
    font-size: 50px;
}

p{
    text-align: justify;
    line-height: 1.5;
    font-size: 15px;
}

h2{
    text-decoration:wavy green underline;
}

h3{
    text-decoration: dotted red line-through;
} */

/* h1{
    font-family: League spartan;
    color: #ffa511;
    text-align: center;
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5;
    text-decoration: teal double underline;
    text-transform: uppercase;
} */

*{
    font-family: Georgia;
}

p{
    /* color: #A52A2A; */
    color: rgb(255, 0, 0);
    text-align: center;
    line-height: 30px;
}

a{
    color: rgb(0, 255, 0);
    text-decoration: none;
}

h1{
    text-align: center;
}

h3{
    text-align: center;
    color: black;
}

h4{
    text-align: center;
}

button{
    background-color: white;
    color: blueviolet;
}

textarea{
    color: black;
}

.underline{
    text-decoration: black underline;
}